/*
 This code is copyrighted by Worth Consulting.
 This code can be modified, but not redistributed without
 permission of Worth Consulting.
*/
/* 
    Created on : Apr 6, 2020, 10:00:59 AM
    Author     : Blair Sweigman <blair.sweigman@worthconsulting.ca>
*/

@font-face {
    font-family: gochi;
    src: url('GochiHand-Regular.ttf');
    font-weight: bold;
}
body {
    background: #ffcccc;
    font-family: Arial;
}
h1,h2,h3 {
    font-family: gochi;
    text-align: center;
}
table {
    margin: 0 auto;
}
tr {
    height: 70px;

}
td {
    width: 60px;
}
td:empty::after{
    content: "\00a0";
}
#wingame {
    display: none;
    width: 400px;
    min-height: 500px !important;
    margin: 0 auto;
}
#wingame:empty::before {
    content: "\00a0";
}

img#afi {
    display: block;
    transform: rotate(0);  
    transition: all 1.5s;
    

    margin: 0 auto;
}
button {
    display: block;
    margin: 5px auto;
}

#badge {
    width: 200px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin-bottom: 5px;
}